#mainWrap{

}
#mainGalery{
  width: 100%;
}
.sidebar {
  display: none;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}
.sidebar-sticky {
  position: static;
  overflow: scroll;
}

#leftNav{
 float: left;


}
#leftNav nav{

}
#leftNav ul {
  list-style: none;
}
#leftNav ul li{

}
#leftNav li {

}
#leftNav ul li a {
  display: block;
  padding: 10px 25px;
  margin: 1px;
  background-color: #1a1a1a;
  color: #fff;
  text-decoration: none;
}
#leftNav a:hover{
  background-color: #070707;
}
#leftNav a.active{
  background-color: #070707;
}
#leftNav span{
  float: right;
  padding-left: 20px;
}
#galery{
  display: block;
  float: left;
}
.galery-img{
  height: 318px;
  display: block;
  background-image: url('../img/galeria/taças.jpg');
  background-size: cover;
}
.img-max{
  position: absolute;
  height: 80%;
  width: 80%;
  top: 0%;
  left: 0%;
}
.galery-img2{
  height: 318px;
  display: block;
  background-image: url('../img/galeria/pia.jpg');
  background-size: cover;
}

.galery-img3{
  height: 318px;
  display: block;
  background-image: url('../img/galeria/escritorio.png');
  background-size: cover;
  background-attachment: ;
}

.galery-img4{
  height: 318px;
  display: block;
  background-image: url('../img/galeria/sala.png');
  background-size: cover;
}

.galery-img5{
  height: 318px;
  display: block;
  background-image: url('../img/galeria/sala2.png');
  background-size: cover;
}

.galery-img6{
  height: 318px;
  display: block;
  background-image: url('../img/galeria/cozinha.png');
  background-size: cover;
}
.lbox{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 86px;
  background-color: rgba(10, 10, 10, .7);
  position: fixed;
  visibility: hidden;
  opacity: 0;
}
.lbox:target{
  visibility: visible;
  opacity: 1;
}
.lbox a {
  opacity: .6;
}
.box-img{
  display: block;

}
.box-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#prev{
  position: fixed;
  top: 55%;
  left: 2%;
}
#close{
  top: 90px;
  right: 2%;
  position: fixed;
}
#next{
  position: fixed;
  top: 55%;
  right: 2%;
}
