
.logo{
  height: 80px;
}

section#home{
  background-image: ;
  height: 100%;
  width: 100%;

}




#logo_rodape{
  display: block;
  position:relative;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

#copyright{
  padding-top: 40px;
}