
.logo{
  height: 60px;
}
.banner{
  padding-top: 13rem;
  padding-bottom: 05rem;
  background-image: url(../img/cozinhaDesf.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:0px 0px;
  height: 800px;
  

}
main{
  margin-top: 100px;
  
}
section#home{

  height: 100%;
  width: 100%;

}
#mainNav{
  padding: .5rem;
  transition: padding-top .35s, padding-bottom .35s;
}
#mainNav.reduce{
  padding-top: 3px;
  padding-bottom: 3px;
}
#logo{
  transition: height .35x;
}
#logo.reduce-img{
  height: 40px;
}


#logo_rodape{
  display: block;
  position:relative;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

#copyright{
  padding-top: 20px;
 padding-bottom: 10px;
}

.zoom {

  transition: transform .2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  .fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    }


  /*Pagina sobre*/  

  .pd_top{
    padding-top: 150px;
  }