
.logo{
  height: 60px;
}
.banner{
  padding-top: 15rem;
  padding-bottom: 05rem;
}
main{
  margin-top: 140px;
}
section#home{
  
  height: 100%;
  width: 100%;

}
#mainNav{
  
  transition: padding-top .35s, padding-bottom .35s;
}
#mainNav.reduce{
  padding-top: 3px;
  padding-bottom: 3px; 
}
#logo{
  transition: height .35x;
}
#logo.reduce-img{
  height: 40px;
}


#logo_rodape{
  display: block;
  position:relative;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

#copyright{
  padding-top: 40px;
}
